* { 
    box-sizing: border-box;
   
}

:root {

    --color-primario: #BFFFBC;
    --color-secundario: #A8AEC1;
    --color-texto: #333;
    --valor-margin:10px;
    --valor-base-width: 600px;
    --canal1: 255;
    --transparencia: 0.5;
    /*para que todos los elementos dentro de mi html 
puedan re/utilizarlos*/


}

body {

background-color:var(--color-secundario);
color: var(--color-texto);

}

.tarjeta {

width: var(--valor-base-width);
height: calc(var(--valor-base-width) * 2px);
padding: var(--valor-margin);
margin: calc(var(--valor-margin) / 2px);
background-color: var(--color-primario);
border-radius:50%;



}

.encabezado {

  background-color:var(--color-secundario);  
  width: calc(var(--valor-base-width) / 2px);
  padding:2.5px;
}

.contenido {

 background-color: rgba(calc(var(--canal1) - 100), var(--canal1), var(--canal1), var(--transparencia));  
 width: 80%;
margin: auto;
padding: calc(var(--valor-margin) / 2px);

}