* { 
    box-sizing: border-box;
   
}

:root {

    --color-primario: #BFFFBC;
    --color-secundario: #A8AEC1;
    --color-texto: #333;
    --valor-margin:10px;
    --valor-base-width: 600px;
    --canal1: 255;
    --transparencia: 0.5;
    /*para que todos los elementos dentro de mi html 
puedan re/utilizarlos*/


}

body {

background-color:var(--color-secundario);
color: var(--color-texto);

}

h1 {

background-color: var(--color-primario);
width: var(--valor-base-width);
padding: 10px 2px 3px 100px;
margin: 10px; 
}

.tarjeta {

width: var(--valor-base-width);
height: calc(var(--valor-base-width) * 2px);
padding:calc(var(--valor-margin) * 2   );
margin: calc(var(--valor-margin) / 2px);
background-color: var(--color-primario);
border-radius:10px 100px 50% 2px;
/*

border-top-left-radius: 10px;
border-top-right-radius: 100px;
border-bottom-right-radius: 50%;
border-bottom-left-radius: 2px;

*/



}

.encabezado {

  background-color:var(--color-secundario);  
  width: calc(var(--valor-base-width) / 3px);
  padding:2.5px;
  border-radius: var(--valor-margin) 20px 50% 70% / 30px 50% 2px 20%;



}

.contenido {

 background-color: rgba(calc(var(--canal1) - 100), var(--canal1), var(--canal1), var(--transparencia));  
 width: 80%;
margin: auto;
padding: calc(var(--valor-margin) / 2px);

}